.heartbeat {
    height: 56px;
    width: 130px;
}

/*.heartbeat svg {*/
    /*transform: scale(1);*/
/*}*/

#pulsar {
    stroke-dasharray: 281;
    animation: dash 2.5s infinite linear forwards;
}

#jugular {
    stroke-dasharray: 497;
    animation: dash 1.4s infinite ease forwards;
}

#flat {
    stroke-dasharray: 100;
    animation: dash 3s infinite linear;
}

@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -400;
    }
}
